*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.5s;
    user-select: none;
}

body
{
    background: rgb(2, 6, 54);
    color: white;
}

.navbar{
    /* border: 2px solid red; */
    box-shadow: 0px 0px 5px aqua;
    display: flex;
    align-items: center;
    background: black;
    color: white;
    padding: 3px 1%;

}

.nav-comp{
    /* border: 2px solid blue; */
    padding: 3px 1%;
    display: flex;
    align-items: center;
}

#logoimg
{
    /* border: 2px solid red; */
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px blue; */
}

.nav-tab
{
    align-self: center;
}

.nav-link{
    /* border: 2px solid red; */
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px 5px;
    text-decoration: none;
    color: white;
}

.nav-link:hover
{
    /* border: 2px solid blue; */
    background: rgba(109, 149, 251, 0.311);
}

.body-container
{
    background: url(./game-center-bg.jpg) no-repeat center;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.welcome-screen
{
    border: 2px solid aqua;
    width: 80%;
    margin: auto auto;
    padding: 2% 1%;

    background: rgba(13, 1, 69, 0.724);
}


.welcome-para
{
    margin: 2% 0%;
    text-align: justify;
    color: aqua;
}

.explore-btn
{
    border: 2px solid aqua;
    padding: 1% 2%;
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

.explore-btn:hover
{
    background: aqua;
    color: black;
}

.game-screen
{
    width: 80%;
    padding: 2% 2%;
    height: 70vh;
    margin: auto auto;
    display: flex;
    gap: 2%;
    background: rgba(13, 1, 69, 0.724);    
}

.game-card-a
{
    border: 1px solid aqua;
    display: inline-block;
    text-align: center;
    color: yellow;
    text-decoration: none;
    width: 300px;
    height: 350px;
}

.game-card-a:hover
{
    box-shadow: 2px 2px 5px aqua;
    /* box-shadow: 2px 2px 0px aqua; */
    transform: scale(1.05);
}

.game-card
{
    /* border: 2px solid yellow; */
    display: inline-block;
    text-align: center;
    color: yellow;
    text-decoration: none;
}

.game-card-img-box
{
    /* border: 2px solid aqua; */
    width: 100%;
}

.game-card-name
{
    /* border: 2px solid red; */
    padding: 3px 0px;
}

.game-card-name:hover
{
    background: rgb(1, 1, 66);
}
